.botoesger{
    display: flex;
    justify-content: right;
    
    padding-bottom: 10px;
    padding-right: 10px;
}

.botoesger p{color: #fff;
font-weight: bold;
padding: 0px 20px;}


.btnlogout, .btncriar, .btnreport{
    margin: 0 5px;
    padding: 5px 10px;
    font-weight: bold;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
    font-size: 1rem;
    background-color: #1282A2; 
    border: 3px solid #1282A2; 
    transition: 0.5s;
}

.btncriar:hover{  
     color: #fff;
     background-color:  #12a220; 
     border: 3px solid #1282A2; 
}


.btnlogout:hover{  
     color: #fff;
     background-color:  #a21212; 
     border: 3px solid #1282A2; 
}


.btnreport:hover{  
     color: #fff;
     background-color:  #bc950b; 
     border: 3px solid #1282A2; 
}

.paviso {font-size: 1em;
    font-weight: bold;
color: rgb(147, 28, 28);}

@media (max-width: 640px) {

    .botoesger{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-right: 10px;
   
}

.btnlogout, .btncriar, .btnreport{
     font-size: 0.7rem;
}

@media (max-width: 400px){
.btnlogout, .btncriar, .btnreport{
     font-size: 0.5rem;
}
}

}