.btncriar{
    margin: 0;
    padding: 10px 20px;
    font-weight: bold;
    color: #1282A2; 
    border-radius: 0px 0px 20px 20px;
    font-size: 15px;
    background-color: #fff;
    border: 3px solid #1282A2; 
    transition: 0.5s;

}

.btncriar:hover{
    
    
     color: #fff;
     background-color:  #1282A2; 
     border: 3px solid #1282A2; 

}