.containeroff{
    display: flex;
    justify-content: right;
    padding-bottom: 10px;
    padding-right: 10px;
}

.contg{
  display: inline-block;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 200px 5fr;
  gap: 30px;
  margin-top: 60px;
}

.imgload {
    padding-top: 60px;
    width: 80px;
}

.paviso {
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
color: rgb(147, 28, 28);}
