.alertateste{
    background-color: rgb(252, 255, 177);
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    width: 50vw;
    text-align: left;
    margin: 0 auto 30px auto;
    
}

.alertateste p {
    margin: 5px;
}


.alertacentro {
    text-align: center;
    margin: 0;
    padding: 0;
}
.paviso {
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
color: rgb(147, 28, 28);}

.imgload {
    padding-top: 60px;
    width: 80px;
}

.pavisook {
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
color: #034078}

.container{
  display: inline-block;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 200px 5fr;
  gap: 30px;
  margin-top: 60px;;
}


@media (max-width: 700px) {
    .alertateste{
    border-radius: 0px;
    font-size: 20px;
    padding: 10px;
    width: 100%;
}
}
