.paviso {
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
color: rgb(147, 28, 28);}


.btnvoltar{
 font-family: "WDXL Lubrifont JP N", sans-serif;
font-size: 20px;
font-weight: bold;
padding: 5px 10px;
align-self: center;
border-radius: 10px;
margin: 20px 0px 5px 0px;
background-color:#034078;
color: #fff;
transition: 0.5s;
border: 0;
cursor: pointer;

}

.btnvoltar:hover{
transform: scale(0.9);

}