.block {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
}

.alertbox {
    text-align: center;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    max-width: 250px;
    max-height: 200px;
    border-radius: 20px 20px 0px 0px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

    
}

.alerttexto h3{
    border-radius: 10px 10px 0px 0px;
    background-color: #1282A2;
    color: #fff;
    font-size: 0.8rem;
    margin: 0px;
}

.alerttexto p {
    font-size: 0.7rem;
    padding: 10px;
    margin: 0px;
    color:#034078;
}

.alertbtn{display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px}

.alertbtn button {
    background-color: #1282A2;
    color: #fff;
    font-size: 20px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
     transition: 0.5s;
}

.alertbtn button:hover {
    transition: 0.5s;
    background-color: #034078;
    color: #fff;
    font-size: 20px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}