.formulario{
    display: flex;
    flex-direction: column;
    width: 30em;
    margin: auto;
    justify-content: flex-start;
   
}

.formulario label {
     text-align: left;
    padding: 10px 0px 10px 0px;
    font-weight: bold;}

.formulario p{
    color: red;
    padding: 0px;
    margin: 0px;
}

.formulario input, .formulario textarea{
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 0;}

.botaoenviar {
    margin: 20px auto;
    padding: 10px 30px;
    font-size: 1em;
}

.botaoenviar:hover{
    margin: 20px auto;
    padding: 10px 30px;
    font-size: 1em;
    background-color: black;
    color: #fff;
}

