.formulario{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 200px;
    padding: 0px 20px;
    margin: 40px auto;
    justify-content: flex-start;
    border-radius: 20px;
    background-color: #1282A2; 
   
}

.imgload {
    padding-top: 60px;
    width: 80px;
}


.formulario label {
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding: 30px 0px 10px 0px;
    font-weight: bold;}

.formulario p{
    font-size: 20px;
    color: rgb(255, 221, 0);
    padding: 5px;
    margin: 0px;
}

.caixaimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario input[type="file"]{
    padding: 0px;
    width: 140px;
    color:#1282A2; 
    font-size: 20px;
}

.nomarquivo{
    font-size: 15px;
    padding-left: 10px;
    color: #fff;
}


.botaoenviar {
    margin: 20px auto;   
    font-size: 30px;
}



.botaoenviar, .formulario input[type="file"]::file-selector-button{
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #034078;
    border: 0;
    color: #fff;
    font-weight: bold;
    
    transition: 0.5s;
    font-family: "WDXL Lubrifont JP N", sans-serif;
}

.botaoenviar:hover, .formulario input[type="file"]::file-selector-button:hover{
    border-radius: 10px;
    padding: 10px 10px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    transform: scale(0.9);
}

.formulario input[type="file"]::-webkit-file{
    padding: 0px 20px;
}

.formulario textarea{
    field-sizing: content;
    resize: vertical;
    min-height: 58px;
    max-height: 150px;
}
.formulario input[type="text"], .formulario input[type="tel"], .formulario textarea{
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    border: 0;
    background-color: #E3DFDA;
    color:  #034078;}


@media (max-width: 580px) {

    .formulario {
        max-width: 100vh;
        border-radius: 0px;
        margin-bottom: 0px;
    
    }
}