.item {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #034078;
    background-color: #E3DFDA;
    border-radius: 20px 20px 0px 0px;
    transition: 0.5s;
    width: 15em;
    max-width: 15em;
    margin: 10px;
}

.item input {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #034078;
    color:#034078;
}


.imagem {
    background-color: #1282A2;
    border-radius: 20px 20px 0px 0px;
    transition: 0.5s;

}

.imagem:hover {
    background-color: #034078;

}

.containerfoto {display: flex;
    height: 150px;
width: 150px;
justify-content: center;
align-items: center;
margin: 20px auto;}

.item img {
   
    width: 100%;
    height: 100%;
    object-fit: cover;
   border: 5px solid #fff;
    border-radius: 100%;
    margin: 30px auto;
    transition: 0.5s;
    background-color: #fff;
    transition: all 0.5 ease;
  

}

.item img:hover {
    border-radius: 20px;
    transform: scale(1.2);
    background-color: #fff;
    object-fit: contain;
}



.titulo {
    padding: 10px;
    background-color: #034078;
    color: #E3DFDA;
    max-height: 4em;
    cursor: pointer;
    padding: 10px;
    margin: 0px;
    user-select: none;
}

.titulo label {
    font-weight: bold;
    margin: 0px;
    font-size: 1.2em;
}

.titulo p {
    margin: 5px 0px;
    font-size: 0.8em;
}

.btnadmin {
    margin: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    color: #034078;
    border: 0px;
    font-weight: bold;
    transition: 0.5s;
}

.btnadmin:hover {
    color: white;
    background-color: #011D4D;
    font-weight: bold;
}

.btsave {
    display: block;
    margin: 10px auto;
    width: 40%;
    font-weight: bold;
    background-color: #034078;
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    border: 0px;
    transition: 0.5s;
}

.btsave:hover {
    display: block;
    margin: 10px auto;
    width: 40%;
    font-weight: bold;
    background-color: #011D4D;
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    border: 0px;
    transform: scale(1.2);
}

.off {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease;
    display: flex;
    text-align: left;
    border-radius: 0px;
    padding: 0px;
    padding-top: 0px;
    background-color: #fff;
}

.on {
    transition: max-height 0.5s ease;
    max-height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    color: #034078;
    background-color: #fff;
    padding: 0px 0px;
}



.on label {
    transition: opacity 0.5s ease;
    padding: 5px 20px;
    margin-top: 5px;
    opacity: 1;
}

.on form label {
    display: block;
    transition: opacity 0.5s ease;
    padding: 10px 20px 5px 20px;
    margin: 0;
    opacity: 1;
}

.off label {
    margin-top: 0px 0px;
    padding: 5px 20px;
    opacity: 0;
}

.on p{color: red;
text-align: center;
padding: 0px 10px;
padding-bottom: 5px;
margin: 0px 0px}


.pon {
    max-height: 0px;
    transition: opacity 0s ease;
    opacity: 0;
}

.poff {
    max-height: 20px;

    transition: opacity 0.5s ease;
    opacity: 1;
}