.principal { display: flex;
justify-content: space-between;
width: 100%;
padding: 1% 5%;
margin: auto;
background-color: #1282A2;}

hr{margin-top: 0px;}

.titulo{
    display: flex;
    justify-content: start;
}

.titulo h1 {
    display: flex;
    align-items: center;
    color:#fff;
    transition: 0.5s;
    font-size: 1.5rem;
}

.titulo h1:hover {
    transform: scale(1.2);
}



.itens{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.itens form {
    margin: 0px 25px;
    height: 2rem;}

.itens ul{
    display: flex;
    gap: 30px;
    list-style: none;
    
}

.itens ul li {
    border-radius: 20px;
    padding: 0.2rem 20px;
    color: #1282A2;
    background-color: #fff;
    transition: 0.5s;
    font-weight: bold;
}

.link{
    color:#011D4D;
    text-decoration: none;
    
}
.link:visited {
    color:#011D4D;
text-decoration: none;}

.link:hover{
    color: #fff;
    text-decoration: none;
}

.itens ul li:hover{
    background-color: #034078;
    color: #fff;
    font-weight: bold;
    transform: scale(1.2);
}

.principal form{
    display: flex;
}

.principal form input{ background-color:#E3DFDA;}
.principal input {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #1282A2;
}


@media (max-width: 640px){

    .itens {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    @media (max-width: 400px) {.titulo h1{font-size: 1rem;}}
    

    .itens ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        gap: 10px;
        
    }

    .itens ul li {
        font-size: 0.7rem;
        width: 80px;
        padding: 5px 0px;
        margin: 10px 0px;
        font-weight: bold;
        color: #034078;
    }

    



}