* {
    box-sizing: border-box;
}


.principal {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100vw;
    max-height: 60px;
    padding: 0px 35px 0px 0px;
    margin: 0 auto;
    background-color: #1282A2;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    max-width: 100%;
}
.bh1 {font-size: 1rem;}
.h1ok {
    padding: 0px 10px 0px 20px;
    color: #fff;
    transition: 0.5s;
    font-size: 1rem;
    flex-shrink: 1;
    min-width: 0px;
    
}

.titulo .h1ok:hover {
    transform: scale(1.03);
}

.itens {
    display: flex;
    justify-content: right;
    align-items: center;
}

.itens form {
    width: 10px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    height: 10px;
}

.principal form {
    display: flex;
    align-items: center;
    width: 100%;
}

.caixabusca {
    position: relative;
    display: inline-block;
    width: 100%;
}

.iconebusca {
    position: absolute;
    left: 15px;
    top: 8px;
    font-size: 20px;
    color: #bdc6c9;
    pointer-events: none;
}

  .digicon {
        display: initial;
    }

.principal form input {
    display: flex;
    background-color: #E3DFDA;
    width: 100%;
    min-width: 90px;
    
    transition: width 0.5s ease;


}

.principal form input::placeholder {
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-size: 15px;
    color: #98a7ac
}

.inputbusca::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}


.principal button {
    display: none
}

.moption,
.moptioff {
    display: flex;
    justify-content: right;
    white-space: nowrap;
    width: 100%;
    padding: 0px 10px;
}

.moption,
.moptioff,
.link {
    transition: 0.2s;
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.moption span:hover,
.moptioff span:hover,
.link:hover {
    transition: 0.4s;
    display: flex;
    gap: 20px;
    font-size: 25px;
    color: #ffffff;
     transform: translateY(2px);
     text-shadow: 0px 0px 1px #fff;
     text-decoration: overline;
}




.principal .inputbusca {
    border-radius: 20px;
    padding: 10px 10px 10px 40px;
    border: 2px solid #1282A2;
    
}






















@media (max-width: 740px) {

    .moption,
    .moptioff {
        gap: 0px
    }

    .principal button {
        display: initial
    }

    .bh1 {
        color: #fff;
    }


    .bh1::after {
        content: "Achados & Perdidos";
    }











    .contm {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding: 0px 0px 0px 0px;
        background-color: #1282A2;
        width: 70px;
    }


    .menubtn {
        background-color: #1282A2;
        width: 35px;
        height: 35px;
        border-radius: 10px;
        padding: 0px;
        margin: 0px auto;
        cursor: pointer;
        border-width: 2px;
        border-color: #1282A2;
        transition: border-width 1s ease;
        transition: border-color 1s ease;
        border-style: solid;
    }

    .menubtn:hover {
        border-style: solid;
        border-width: 4px;
        border-color: #fff;
        transition: border-width 1s ease;
        transition: border-color 1s ease;
        background-color: #1282A2;
        transition: 0.3s;
    }

    .menubtn:hover span {
        background-color: #fff;
        transition: 0.5s;
        padding: 1.5px 5px;
    }

    .menubtn span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        width: 20px;
        padding: 2px 5px;
        margin: 2px auto;
        transition: 0.5s;
    }



    .moption {
        position: absolute;
        top: 47px;
        padding-top: 0px;
        border-radius: 0px 0px 5px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        width: 90px;
        max-height: 200px;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }

    .moptioff {
        position: absolute;
        top: 47px;
        padding-top: 0px;
        border-radius: 0px 0px 5px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        background-color: #fff;
        width: 90px;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s ease;
    }


    .moption span,
    .moptioff span,
    .link,
    .link:visited {
        font-size: 20px;
        color: #1282A2;
        transition: 0.2s;
        padding: 3px 0px;
        text-decoration: none;
        transition: 0.5s;
        display: block;
        width: 100%;
        height: 30px;
        background-color: #fff;
    }

    .moption span:hover,
    span:hover .link {
        font-size: 20px;
        display: block;
        height: 30px;
        width: 100%;
        color: #034078;
        transition: 0.5s;
        transform: translateY(-2px);
        text-decoration: none;

    }
}















@media (max-width: 480px) {
    .caixabusca {
        position: relative;
        max-width: 20px;
        margin-right: 5px;
    }


    .caixabusca .inputbusca {
        padding: 10px 20px;
        min-width: 100%;
        transition: width 0s ease;
        
    }

    .h1ok{
        font-size: 1rem;
    }
    .caixabusca .digitando {
        min-width: 230px;
        position: absolute;
        right: 0px;
        top: -20px;
        border-radius: 20px;
        padding: 10px 10px;
        border: 2px solid #1282A2;
        
       
    }


    .digicon {
        display: none;
    }



    .digitando::-webkit-input-placeholder {
        opacity: 0;
    }

    .inputbusca::-webkit-input-placeholder {
        opacity: 0;
    }


    .iconebusca {
        position: absolute;
        left: 10px;
        top: 8px;
    }

.bh1 {
    padding-left: 20px;
    font-size: 1rem;

}

.bh1::after {
    content: "Achados & Perdidos";
}

  .bh1::after {
        content: "A&P";
    }

    .titulo .h1ok{font-size: 0.7rem;}
}


@media (max-width: 410px) {
     .caixabusca .digitando {
        min-width: 180px;}
    
}


@media(max-width: 360px) {

     .caixabusca .digitando {
        min-width: 150px;}

     .h1ok {
        padding-left: 10px;
       
    }

   

    .bh1::after {
        content: "A&P";
    }


    .itens form {
        margin: 0px 0px 0px 0px;
        height: 10px;
    }
}



@media (max-width: 330px) {
     .caixabusca .digitando {
        min-width: 130px;}
    
}