*{box-sizing: border-box;}

html, body, #root{
  margin: 0;
  padding: 0;
}

body{background-color: #E3DFDA;}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #011D4D;
  
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

